@page "/jobs/tenant/{TenantId:int}"
@using Occumetric.Shared
@inject HttpClient _httpClient
<h3>Jobs</h3>
<a href="@($"/jobs/create/tenant/{TenantId}")" class="btn btn-primary">Create Job</a>
@if (_jobViewModels.Any())
{
    <table class="table">
        <tr>
            <td>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Job Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Reports
                            </th>
                            <th>
                                Add New Tasks
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _jobViewModels)
                        {
                            <tr>
                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <button type="button"
                                            @onclick="@(()=>JobClicked(item.Id))"
                                            class="btn btn-link">
                                        @item.Name
                                    </button>
                                </td>
                                <td>
                                    <a href="/pdaReport/@item.Id">PDA Report</a>
                                    <br />
                                    <a href="/botReport/@item.Id">BOT Report</a>
                                </td>
                                <td>
                                    <a href="/jobs/addTasks/@item.Id">Add New Tasks</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <table class="table table-striped">
                    @foreach (JobTaskViewModel tvm in _currentTasks)
                    {
                        <tr>
                            <td>
                                @tvm.Name
                            </td>
                            <td>
                                <a href="/tasks/update/@tvm.Id"
                                   class="btn btn-link">
                                    Edit
                                </a>
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
}

<p>Tenant: @TenantId</p>
@code {
    [Parameter] public int TenantId { get; set; }
    private List<JobViewModel> _jobViewModels { get; set; } = new List<JobViewModel>();
    private List<JobCountViewModel> _jobCountViewModels { get; set; } = new List<JobCountViewModel>();
    private int _selectedJobId = 0;
    private List<JobTaskViewModel> _currentTasks = new List<JobTaskViewModel>();
    protected async override void OnInitialized()
    {
        base.OnInitialized();
        _jobViewModels = new List<JobViewModel>();
        await FetchData();

    }
    private async Task FetchData()
    {
        try
        {

            _jobViewModels = await _httpClient.GetFromJsonAsync<List<JobViewModel>>(CommonHttpService.BaseUrl + $"/jobs/tenant/{TenantId}");
            if (_jobViewModels.Any())
            {
                _selectedJobId = _jobViewModels.First().Id;
                JobClicked(_selectedJobId);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine("Exception");
            Console.WriteLine(e.Message);
        }
    }
    private void JobClicked(int jobId)
    {
        _selectedJobId = jobId;
        _currentTasks = (from jvm in _jobViewModels where jvm.Id == jobId select jvm).Single().JobTaskViewModels.ToList();
    }
    //
    private int TaskCount(int jobId)
    {
        Console.WriteLine(jobId);
        return (from jc in _jobCountViewModels
                from tc in jc.TaskCountViewModels
                where tc.JobId == jobId
                select tc.TaskCount).Single();
    }
}
