@page "/industries"
@using Occumetric.Shared
@inject HttpClient _httpClient
@inject ICommonHttpService _commonHttpService
<h3>Industries</h3>

<p><b>@_errorMessage</b></p>
<a href="/industries/create" class="btn btn-primary">Create Industry</a>
<h3>Result</h3>
@if (_industryViewModels?.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Tenants</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in _industryViewModels)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a href="@($"/tenants/{item.Id}")">Tenants</a>
                    </td>
                    <td>
                        <a href="@($"/taskCategories")">Task Categories</a>
                    </td>
                    <td>
                        <a href="@($"/industries/update/{item.Id}")" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no records to show.</p>
}
@code {
    private List<IndustryViewModel> _industryViewModels { get; set; }
    private string _errorMessage = "";

    protected async override void OnInitialized()
    {
        base.OnInitialized();
        _industryViewModels = new List<IndustryViewModel>();
        await FetchData();

    }
    private async Task FetchData()
    {
        try
        {
            //_industryViewModels = await _httpClient.GetFromJsonAsync<List<IndustryViewModel>>("api/v1/industries");
            _industryViewModels = await _commonHttpService.GetAllIndustries();
            StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine("Exception");
            Console.WriteLine(e.Message);
            _errorMessage = e.Message;

        }
    }
}
